services:
  postgres:
    image: postgres:16
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=password
    volumes:
      - postgres-db-volume:/var/lib/postgresql/data
    ports:
      - 5432:5432
    command: ['postgres', '-c', 'wal_level=logical']
  pgadmin:
    image: dpage/pgadmin4
    environment:
      PGADMIN_DEFAULT_EMAIL: 'test@test.com'
      PGADMIN_DEFAULT_PASSWORD: 'test'
    ports:
      - 16543:80
    volumes:
      - ./pgadmin-servers.json:/pgadmin4/servers.json
  qdrant:
    image: qdrant/qdrant:latest
    container_name: qdrant_local
    ports:
      - "6333:6333" # HTTP API & Web UI
      - "6334:6334" # gRPC API (High performance)
    volumes:
      - qdrant-db-volume:/qdrant/storage
    restart: always
  inspector:
    image: ghcr.io/modelcontextprotocol/inspector:latest
    ports:
      - 6274:6274
      - 6277:6277
    environment:
      HOST: 0.0.0.0
      MCP_AUTO_OPEN_ENABLED: false
volumes:
  postgres-db-volume:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ~/temp/data/postgres
  qdrant-db-volume:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ~/temp/data/qdrant

