spring:
  ai:
    mcp:
      client:
        sse:
          connections:
            helpdesk:
              url: http://localhost:9193

        stdio:
          connections:
            filesystem:
              command: "npx"
              args:
                - -y
                - "@modelcontextprotocol/server-filesystem"
                - /home/dcano/McpFsTest
                - /home/dcano/Downloads
            github:
              command: "docker"
              args:
                - run
                - -i
                - --rm
                - -e
                - GITHUB_PERSONAL_ACCESS_TOKEN
                - ghcr.io/github/github-mcp-server
              env:
                GITHUB_PERSONAL_ACCESS_TOKEN: ${GITHUB_PAT}