server:
  port: 9191
spring:
  application:
    name: ai-playground
  ai:
    chat:
      client:
        enabled: false
logging:
  level:
    org.springframework.ai.chat.client.advisor: DEBUG