spring:
  ai:
    chat:
      memory:
        repository:
          jdbc:
            initialize-schema: always
            schema: classpath:/schema/schema-h2db.sql
  h2:
    console:
      enabled: true

  datasource:
    url: jdbc:h2:file:~/temp/data/h2/chatmemory;AUTO_SERVER=true
    driver-class-name: org.h2.Driver
    username: test
    password: test123